body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background: #1a1a1a;
  color: white;
}

em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #4dba87, #2f9088);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
  align-items: flex-start;
}

.search-panel__filters {
  flex: 0 0 40%; 
  max-width: 40%; 
  padding-right: 20px;
  border-right: 1px solid #3a3a3a;
}

.search-panel__results {
  flex: 0 0 60%; /* Allocates 70% of the width to the right */
  max-width: 60%; /* Ensures it never exceeds 70% */
  padding-left: 20px;
}

.searchbox {
  margin-top: 32px;
  width: 100%;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-SearchBox-input {
  background: #1a1a1a;
  color: white;
  border: 1px solid #3a3a3a;
  caret-color: white;
  box-shadow: none;
  border-radius: 8px;
}

.hit__details {
  padding: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  width: 100%;
    border: 1px solid #3a3a3a;
    padding: 16px;
}

.hit-details-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hit-details-panel summary::-webkit-details-marker {
  display: none;
}

.hit-details-panel summary::marker {
  display: none;
}

.hit-details-panel summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.hit-details-panel summary::before {
  content: "";
}

details summary::-webkit-details-marker {
    display: none;
}

.radar-emoji {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  cursor: crosshair;
}

.main-hits-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0;
  margin-top: 32px;
  padding: 16px;
  width: 100%;
}

pre {
  width: 100%;
}


.download-btn {
  background-color: #1a1a1a;
  color: white;
  padding: 16px 32px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  font-weight: 800;
}

.download-btn:hover {
  transition: 0.2s;
  color: #af7fcf;
}

.hit-details-header {
  cursor: pointer;
}